<launch>

  <arg name  ="freq" default = "10"/>

  <arg name = "record" default = "disable" /> 


  <node pkg="beginner_tutorials" type="listener" name="listener"  output="screen"/>


  <node 
  	pkg="beginner_tutorials" type="talker" name="talker"  output="screen"
  	args = "$(arg freq)"
  />
  
  <node name = "rosbag" pkg = "rosbag" type = "record"
    args = "-a -O $(find beginner_tutorials)/result/pub.bag"
    if = "$(eval record == 'enable')"
  />

</launch>